// Importación de variables
@import "../utilities/variables";
// Importación de mapas
@import "../utilities/maps";
/* Mixin */
/* ----------------------------------------------------------*/
/* ------------------- Estilos de header ------------------- */
/* ----------------------------------------------------------*/
/* Estilos de grid exclusivo del header de log in*/
@mixin header-log-in-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo";
    border: 1px solid $main-borders;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-items: center;
    height: 15dvh;
}
/* Estilos de grid exclusivo del header menú */
@mixin menu-header-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo config"
    "nav-bar nav-bar";
    border: 1px solid $main-borders;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-items: center;
    
    // @media screen and (min-width: medida(tablet)){
    //     grid-template-columns: 1fr 5fr;
    //     grid-template-rows: 1fr;
    //     grid-template-areas: 
    //     "logo config"
    //     "nav-bar nav-bar";
    //     border: 1px solid $main-borders;
    //     margin: 5px;
    //     padding: 5px;
    //     align-items: center;
    //     justify-items: center;
    // }
    
    // @media screen and (min-width: medida(desktop)){
    //     grid-template-columns: 1fr 5fr;
    //     grid-template-rows: 1fr;
    //     grid-template-areas: 
    //     "logo config"
    //     "nav-bar nav-bar";
    //     border: 1px solid $main-borders;
    //     margin: 5px;
    //     padding: 5px;
    //     align-items: center;
    //     justify-items: center;
    // }
}
@mixin action-header-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo config";
    border: 1px solid $main-borders;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-items: center;
}
@mixin logo{
    grid-area: logo;
    width: 100px;
}
@mixin config{
    grid-area: config;
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    justify-content:end;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
@mixin config-a{
    margin: 5px;
    padding: 5px;
    // border: 1px solid $main-borders;
    display: flex;
    text-decoration: none;
    color: $main_letter_color;
}
@mixin nav-bar{
    grid-area: nav-bar;
    margin: 5px;
    padding: 5px;
    border: 1px solid $main-borders;
    display: flex;
    align-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
}
@mixin option-div{
    margin: 5px;
    padding: 5px;
    border: 2.5px solid $main-borders;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $main_letter_color;
}
/* ----------------------------------------------------------*/
/* -------------------- Estilos de main -------------------- */
/* ----------------------------------------------------------*/
@mixin main{
    display: flex;
    flex-direction:column;
    border: 1px solid $main-borders;
    margin: 5px;
    padding: 5px;
    color: $main_letter_color;
    flex: 1;
    overflow-y: auto;
}
/* Estilos de login */
@mixin log-in-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "log-in-h1"
    "log-in-form";
    align-items: center;
    justify-items: center;
}
@mixin log-in-h1{
    grid-area: log-in-h1;
    margin: 5px;
    padding: 5px;
    text-align: center;
    }
@mixin log-in-form{
    grid-area: log-in-form;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $main-borders;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
@mixin log-in-h2{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
@mixin log-in-label{
    margin: 5px;
}
@mixin log-in-input{
    margin: 5px;
}
@mixin log-in-button{
    margin: 5px;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    background-color: $main-button-color;
    border-color: $main-button-color;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    &:hover{
        color: $secondary_letter_color ;
    }
}
@mixin log-in-span{
    margin: 5px;
    font-size: 10px;
    text-decoration: underline;
    color: $span-color;
    cursor: pointer;
}
@mixin message{
    margin: 5px;
    border-radius: 5px;
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* ----------- Contenedor exclusivo de registro -------------*/
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@mixin register-form-grid{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    border: $main-borders;
    justify-content: center;
    align-items: center;
}
@mixin register-content{
    border-radius: 5px;
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}
@mixin register-close{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    cursor: pointer;
    color: #333;
}
@mixin register-form{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $main-borders;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    gap: 10px;
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* -------------- Contenedor exclusivo de menu --------------*/
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@mixin menu-grid{
    width: 100%;
    display: grid;
    a{
        text-decoration: none;
        color: $main_letter_color;
        cursor: pointer;
    }
    /* Mobile - Menor a 768px) */
    @media screen and (max-width: medida(tablet)){
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4,auto);
    grid-template-areas: 
    "h1"
    "transaction"
    "account"
    "dashboard";
    justify-content: left;
}
    /* Tablet - Entre 768px y 1024px */
    @media screen and (min-width: medida(tablet)){
        grid-template-columns: 1fr;
        grid-template-rows:repeat(3,auto);
        grid-template-areas: 
        "h1"
        "transaction"
        "account"
        "dashboard";
        justify-content: left;
    }
    /* Desktop - Mayor a 1024px */
    @media screen and (min-width: medida(desktop)){
        grid-template-columns: 1fr;
        grid-template-rows:repeat(3,auto);
        grid-template-areas: 
        "h1"
        "transaction"
        "account"
        "dashboard";
        justify-content: left;
    }
}
@mixin h1-container{
    grid-area: h1;
    margin: 5px;
    padding: 5px;
    border: solid 1px $main-borders;
    text-align: left;
}
@mixin h3-container{
    grid-area: h3;
    margin: 5px;
    padding: 5px;
    border: solid 1px $main-borders;
    text-align: left;
}
@mixin transaction-container{
    grid-area: transaction;
    margin: 5px;
    padding: 5px;
    border: solid 1px $main-borders;
    display: flex;
    flex-direction: column;
}
@mixin account-container{
    grid-area: account;
    margin: 5px;
    padding: 5px;
    border: solid 1px $main-borders;
    display: flex;
    flex-direction: column;
    // @media screen and (min-width: medida(tablet)){
    //     flex-wrap: wrap;
    //     ;
    // }
    // /* Desktop - Mayor a 1024px */
    // @media screen and (min-width: medida(desktop)){
    //     flex-wrap: nowrap;
    //     ;
    // }
}
@mixin account-container-result{
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    overflow-y: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 150px;
    div{
        margin: 5px;
        padding: 5px;
        border: solid 1px $secondary-borders;
        border-radius: 5px;
        background-color: $result-div;
        font-size: smaller;
        color: $secondary_letter_color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 100px;
        a{
            color: $secondary_letter_color;
            text-decoration: none;
            &:hover{
                color: gray;
            }
        }
    }
}
@mixin dashboard-container{
    grid-area: dashboard;
    margin: 5px;
    padding: 5px;
    border: solid 1px $main-borders;
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* ---------- Contenedor exclusivo de Configuration ---------*/
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@mixin configuration-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-areas: 
    "h1"
    "configform"
    "configbtn"
    "h3"
    "config-results";
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin configuration-grid-form{
    grid-area: configform;
    display: grid;
    gap: 1rem;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    grid-template-columns: auto 1fr;
}
@mixin configuration-input{
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    justify-items: end;
    align-items: baseline;
}
@mixin config-form-field{
    width: 100%;
}
@mixin config-save-btn{
    grid-area: configbtn;
    margin: 5px;
    width: 100%;
}
@mixin config-results-container{
    grid-area: config-results;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    overflow-y: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@mixin config-container-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-size: small;
    color: $main_letter_color;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/*  Contenedor exclusivo de transferAction e inventoryAction */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@mixin action-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    align-items: center;
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* -------- Contenedor exclusivo de Simple expense --------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@mixin simpleExpense-container-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "h1"
    "simpleExpenseform"
    "simpleExpensebtn";
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin simpleExpense-grid-form{
    grid-area: simpleExpenseform;
    display: grid;
    gap: 1rem;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    grid-template-columns: auto 1fr;
}
@mixin simpleExpense-input{
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    justify-items: end;
    align-items: baseline;
}
@mixin simpleExpense-form-field{
    width: 100%;
}
@mixin simpleExpense-save-btn{
    grid-area: simpleExpensebtn;
    width: 100%;
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* ------- Contenedor exclusivo de Detailed expense -------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@mixin detailedExpense-container-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "h1"
    "detailedExpenseform"
    "detailedExpensebtn";
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    justify-content: center;
    align-items: center;
    text-align: center;
}




@mixin detailedExpense-grid-form{
    grid-area: detailedExpenseform;
    display: grid;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "detailedExpenseSelect"
    "detailedExpenseBtn"
    "detailedExpenseInputContainer"
    "detailedExpenseAmmount";
}
@mixin detailedExpense-select{
    grid-area: detailedExpenseSelect;
    display: grid;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    grid-template-columns: auto 1fr;
} 
@mixin detailedExpense-add-btn{
    grid-area: detailedExpenseBtn;
    margin: 5px;
    border: solid 1px $secondary-borders;
}
@mixin detailedExpense-input-container{
    grid-area: detailedExpenseInputContainer;
    display: grid;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    grid-template-columns: auto 1fr;
}
@mixin detailedExpense-input{
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    gap: 1rem;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    justify-items: end;
    align-items: baseline;
}
@mixin detailedExpense-form-field{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin detailedExpense-ammount{
    grid-area: detailedExpenseAmmount;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    display: grid;
    justify-items: center;
    align-items: baseline;
    grid-template-columns: auto 1fr;
}




@mixin detailedExpense-save-btn{
    grid-area: detailedExpensebtn;
    width: 100%;
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* ----------- Contenedor exclusivo de income -------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@mixin income-container-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "h1"
    "incomeform"
    "incomebtn";
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin income-grid-form{
    grid-area: incomeform;
    display: grid;
    gap: 1rem;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    grid-template-columns: auto 1fr;
}
@mixin income-input{
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    justify-items: end;
    align-items: baseline;
}
@mixin income-form-field{
    width: 100%;
}
@mixin income-save-btn{
    grid-area: incomebtn;
    width: 100%;
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* ---------- Contenedor exclusivo de Transactions ----------*/
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@mixin transactions-grid{
    display: grid;
    grid-template-columns:1fr auto;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "h1 h1"
    "transaction-filter transaction-filter-btn"
    "transaction-results transaction-results";
}
@mixin transactions-filter-grid-form{
    grid-area: transaction-filter;
    display: grid;
    gap: 1rem;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    grid-template-columns: auto 1fr;
}
// Hijos del form
@mixin transaction-filter-input{
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    justify-items: end;
    align-items: baseline;
}
@mixin transaction-filter-field{
    width: 100%;
}
@mixin transaction-filter-btn{
    grid-area: transaction-filter-btn;
    display: flex;
    margin: 5px;
    // padding: 5px;
    justify-content: center;
}
// Contenedor de los resultados
@mixin transactions-results-container{
    grid-area: transaction-results;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    overflow-y:auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
@mixin transaction-container-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-size: small;
    color: $main_letter_color;
    margin: 5px;
    padding: 5px;
    border: solid 1px $secondary-borders;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* ------------------- Estilos de footer ------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@mixin footer{
    border: 1px solid $main-borders;
    margin: 5px;
    padding: 5px;
    height: 10dvh;

}