// Variables
$background_color: #F0F8FF;
$modal_background_color: #f0f8ffa1;
$main_letter_color: #2F4F4F;
$secondary_letter_color: #E0E0E0;
$main-button-color: #64CCEF;
$secondary-button-color: #1E90FF;
$span-color: #1E90FF;
$main-borders: #2F4F4F;
$secondary-borders: #5e6666;
$result-div: #2F4F4F;