// Reseteo del estilo nativo del navegador
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Estilos del body (todo el archivo)
body{
    background-color:#FFFFFF;
    font-family: 'Roboto'
    ;
}
